<svg height="32" width="48"><image href="{{flag}}" height="32" width="48" /></svg>
<h1>{{name}}</h1>
<p></p>
<p><b>Capital:</b>{{capital}}</p>
<p><b>Population:</b>{{population}}</p>
{{#languages}}
<p><b>Languages:</b>{{this.name}}</p>
{{/languages}}